body    {
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 50vh;
    min-width: 50vw;
    max-height: 100vh;
    max-width: 100vw;
    font-family: "Spectral", "Karla";

}

#content    {
    height: 77vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    border-color: blue;
    border-style: solid;
}

#sidebar    {
    height: 77vh;
    border-radius: 1vw;
    border-color: black;
    border-style: solid;
}

#chat   {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    border-color: black;
    border-style: solid;
}

#messages   {
    height: 90%;
    width: 90%;
    border-radius: 1vw;
    border-color: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

#inputform  {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#textbox    {
    width: 90%;
}

#textsubmit {
    width: auto;
}
