body    {
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 50vh;
    min-width: 50vw;
    max-height: 100vh;
    max-width: 100vw;
    font-family: "Spectral", "Karla";

}

#content    {
    height: 77vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    border-color: blue;
    border-style: solid;
}
