#nav-bar    {
    height: fit-content;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 1vw;
    padding: 1vw;
    margin: 1vw;
    position: sticky;
    top: 0px;
    border-radius: 1vw;
    border-color: red;
    border-style: solid;
    overflow: auto;
}

.nav-item   {
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.nav-item:hover {
    background-color: #55a1ff;
    border-radius: 2vw;
}

.nav-button {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#profile    {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    row-gap: 0vw;
}

#profile-icon   {
    width: 50px;
    height: 50px;
}
