#about    {
    height: 77vh;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1vh;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    border-color: blue;
    border-style: solid;
    overflow: auto;
}

#icon-container {
    text-align: center;
}

.icon   {
    max-height: 100%;
    max-width: 100%;
}

#app-info   {
    height: fit-content;
    text-align: center;
}
