#nav-bar    {
    height: fit-content;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 1vw;
    padding: 1vw;
    margin: 1vw;
    position: sticky;
    top: 0px;
    border-radius: 1vw;
    border-color: red;
    border-style: solid;
}

.nav-item   {
    width: 100%;
    height: 100%
}

#content    {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 100%;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    border-color: blue;
    border-style: solid;
}

#big-icon   {
    max-height: 100%;
    max-width: 100%;
}

#app-info   {
    height: fit-content;
    text-align: center;
}
