body    {
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 50vh;
    min-width: 50vw;
    max-height: 100vh;
    max-width: 100vw;
    font-family: "Spectral", "Karla";
}


#content    {
    height: 53vh;
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1vw;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    border-color: #55a1ff;
    border-style: solid;
    overflow: auto;
}

.login-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vw;
    text-align: center;
}

#signUp-form    {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#signIn-form    {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
