.login-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vw;
    text-align: center;
}

#signUp-form    {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#signIn-form    {
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
